{% extends 'home/base.html' %}
{% block header %}

<title>LinkedIsh | Parola Yenile</title>

{% endblock header %}

{% block content %}

{% if error is defined %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}

<h1 class="text-danger mb-3">Parola Yenileme</h1>
<form action="change" method="post">
  {{ form.hidden_tag() }}
  <div class="input-group form-group my-5">
    <div class="input-group-prepend col-2">
      <label class="input-group-text" for="password">{{ form.password.label }}</label>
    </div>
    {{form.password(size=32, class="form-control", placeholder="Parola girin")}}
    <i class="bi bi-eye-slash input-group-text" data-target="{{form.password.id}}"></i>
  </div>

  <div class="input-group form-group my-5">
    <div class="input-group-prepend col-2">
      <label class="input-group-text" for="new_password">{{ form.new_password.label }}</label>
    </div>
    {{ form.new_password(size=32, class="form-control", placeholder="Yeni parolanızı girin.") }}
    <i class="bi bi-eye-slash input-group-text" data-target="{{form.new_password.id}}"></i>
  </div>

  <div class="input-group form-group my-5">
    <div class="input-group-prepend col-2">
      <label class="input-group-text" for="new_password_again">{{form.new_password_again.label}}</label>
    </div>
    {{ form.new_password_again(size=32, class="form-control", placeholder="Yeni parolanızı tekrar girin.") }}
    <i class="bi bi-eye-slash input-group-text" data-target="{{form.new_password_again.id}}"></i>
  </div>

  <div class="my-5">
    {{ form.submit(class_="btn btn-lg btn-dark btn-block form-control") }}
  </div>
</form>

{% endblock content %}

{% block script %}

<script src="{{ url_for('static', filename='js/forms.js') }}"></script>
<script>
  // Run processElement function for the document
  window.addEventListener('DOMContentLoaded', processElement);
  // window.onload = processElement;
</script>

{% endblock script %}
